<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>About us - Brand</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/Highlight-Clean-1.css">
  <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
  <link rel="stylesheet" href="assets/css/Home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand" href="/">ShakeItUp</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="search/randomPage.html">Random</a></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead" style="background: #0e0f2c;">
  <div class="d-flex justify-content-center align-items-center overlay" style="border-style: solid;border-radius: 0px;background: url(https://shake-it-up-bonhacketit.s3.eu-north-1.amazonaws.com/img/Cocktail-bg.jpg) center, rgb(33, 37, 41);"></div>
  <div class="container" style="padding-bottom: 25px;">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-8 offset-xl-0 mx-auto position-relative">
        <div class="site-heading" style="padding-bottom: 100px;">
          <h1 ><%= @name2 %></h1><span class="subheading"><strong><%= @category2 %></strong></span>
        </div>
      </div>
      <div class="col d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center"><img class="rounded-circle" data-bss-hover-animate="shake" src=<%= @photoUrl2 %> style="/*left: 50%;*/width: 300px;height: 300px;/*top: 20%;*//*border-style: double;*//*border-radius: 150px;*/padding: 0px;"></div>
    </div>
  </div>
</header>
<div class="container" style="width: 80%;">
  <div class="row d-xl-flex justify-content-xl-start align-items-xl-start" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-xl-9">
      <h1>Ingredients</h1>
      <ul>
        <% for (@ing, @meas) in @hash2 %>
          <li><%= @meas %> <%= @ing %></li>
        <% end %>

      </ul>
      <h1>Instructions</h1>
      <p style="margin-top: 0px;"><%= @inst2 %></p>
    </div>
    <div class="col-xl-3">
      <div class="form-check" style="margin-top: 10px;margin-bottom: 10px;">
        <% if @alco2 == "Alcoholic" %>
          <input class="form-check-input" type="checkbox" id="formCheck-1" checked disabled><label class="form-check-label" for="flexCheckCheckedDisabled" style="margin-bottom: 15px;">Alcoholic</label></div>
        <% else %>
          <input class="form-check-input" type="checkbox" id="formCheck-1" checked disabled><label class="form-check-label" for="flexCheckCheckedDisabled" style="margin-bottom: 15px;">Non-Alcoholic</label></div>
        <% end %>
        <h4>Put it in a</h4>
        <p style="margin-top: 0px;margin-bottom: 10px;"><%= @glass2 %></p>
        </div>
    </div>
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <p class="text-muted copyright">Copyright&nbsp;©&nbsp;ShakeItUp 2021</p>
      </div>
    </div>
  </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="assets/js/clean-blog.js"></script>
</body>